
h1 {
    font-family: "Libre Baskerville", serif;
}

table {
    width: 90%;
    text-align: center;
}

th {
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    background-color: red;
    padding: 5px;
    border: 1px solid rgb(163, 160, 160);
}

th:hover {
    transition: 1s;
    color: white;
}


.blue {
    background-color: rgb(7, 125, 235);
}

td {
    cursor: pointer;
    font-family: "Libre Baskerville", serif;
    background-color: yellow;
    padding: 5px;
    border: 1px solid rgb(163, 160, 160);
}

img {
    width: 50px;
}

.imagem {
    gap: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    transition: 1s;
    color: rgb(255, 0, 0);
}

td:hover {
    transition: 1s;
    color: rgb(255, 0, 0);
}