
* {
    font-family: "Delius", cursive;
}

table {
    border: 1px solid black;
    padding: 2px;
    border-radius: 5px;
    text-align: center;
}

td, th {
    width: 100px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 24px;
    padding: 5px;
    border: 1px solid black;
}

th:hover {
    border: 1px solid red;
    transition: 2s;
    background-color: rgb(54, 52, 52);
    color: white;
}

td:hover {
    border: 1px solid red;
    transition: 2s;
    background-color: rgb(54, 52, 52);
    color: white;
}
