* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main h1 {
    font-family: "Baskervville SC", serif;
    cursor: pointer;
    font-size: 42px;
}

main h1:hover {
    transition: 2s;
    color: aqua;
}


p {
    font-family: "Baskervville SC", serif;
    text-align: center;
}

main p:hover  {
    transition: 2s;
    cursor: pointer;
    /*color: #fff;*/
    color: aqua;
}

img {
    cursor: pointer;
    width: 10rem;
    border-radius: 50%;
    border: 2px solid red;
}

img:hover{
    transition: 2s;
    width: 10rem;
    border-radius: 50%;
    border: 3px solid aqua;
}